.border-pane {
  -fx-alignment: CENTER; /* Center align the content within the BorderPane */
}

.label-title {
  -fx-font-family: "Times New Roman";
  -fx-font-size: 50px;
  -fx-font-weight: bold;
  -fx-text-fill: #FFFF00; /* Ominous yellow color */
  -fx-padding: 10px;
  -fx-effect: dropshadow(three-pass-box, rgba(255,0,0,0.7), 10, 0.5, 0, 1);
}

.character-screen-button-hbox {
  -fx-spacing: 10px;
}

.character-screen-button {
  -fx-background-color: rgba(255,0,0,0.85); /* Red, somewhat transparent */
  -fx-text-fill: white;
  -fx-font-family: "Times New Roman";
  -fx-font-size: 24px;
  -fx-padding: 10px 40px;
  -fx-border-width: 0; /* No border */
}

.character-screen-button:disabled {
  -fx-opacity: 0.5;
}

.character-screen-button:hover {
  -fx-background-color: rgba(255,0,0,1); /* Darker red on hover */
}

.character-screen-button:focus {
  -fx-background-color: rgba(255,0,0,0.9); /* Darkest red when focused */
}

.character-screen-button:pressed {
  -fx-background-color: rgba(255,0,0,0.9); /* Darkest red when pressed */
}

.character-screen-button.default-button {
  -fx-background-color: rgba(255,0,0,0.85); /* Red, somewhat transparent */
  -fx-text-fill: white;
  -fx-font-family: "Times New Roman";
  -fx-font-size: 24px; 
  -fx-padding: 10px 40px;
  -fx-border-width: 0; /* No border */
}




