.app-pane {
  -fx-background-image: url('background-image.png');
  -fx-background-repeat: stretch; 
  -fx-background-size: cover;  
  -fx-background-position: center center;
}

.button-settings, .button-help, .button-music {
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-size: contain;
  -fx-min-width: 35px;
  -fx-min-height: 35px;
  -fx-max-width: 50px;
  -fx-max-height: 50px;
  -fx-pref-width: 35px;
  -fx-pref-height: 35px;
  -fx-background-color: transparent;
  -fx-border-radius: 50%; 
}

.button-settings:hover, .button-help:hover, .button-music:hover {
  -fx-opacity: 0.6;
  -fx-scale-x: 1.1;
  -fx-scale-y: 1.1;
  -fx-effect: dropshadow( three-pass-box , rgba(255,204,0,0.8) , 10, 0.0 , 0 , 1 );
}

.button-settings:pressed, .button-help:pressed, .button-music:pressed {
  -fx-opacity: 0.8;
  -fx-scale-x: 1.2;
  -fx-scale-y: 1.2;
  -fx-effect: dropshadow( three-pass-box , rgba(255,0,0,0.8) , 10, 0.0 , 0 , 1 );
}

.button-settings {
  -fx-background-image: url('button-settings-image.png');
}

.button-help {
  -fx-background-image: url('button-help-image.png');
}

.button-music:selected {
  -fx-background-image: url('button-music-off.png');
}

.button-music {
  -fx-background-image: url('button-music-on.png');
}

.bottom-text {
  -fx-font-family: "Arial";
  -fx-font-size: 12px;
  -fx-text-fill: white;
  -fx-background-color: transparent;
}









