.border-pane {
  -fx-alignment: CENTER; /* Center align the content within the BorderPane */
}

.label-title {
  -fx-font-family: "Times New Roman";
  -fx-font-size: 46px;
  -fx-font-weight: bold;
  -fx-text-fill: #FFCC00; /* Adventurous ominous yellow */
  -fx-padding: 10px;
}

.character-screen-button-bar {
  -fx-spacing: 10px;
}

.character-screen-button {
  -fx-background-color: #800000; 
  -fx-text-fill: white;
  -fx-font-family: "Arial";
  -fx-font-size: 20px;
  -fx-padding: 12px 24px;
}

.character-screen-button:disabled {
  -fx-opacity: 0.5;
}

.character-screen-button:hover {
  -fx-background-color: #A60000;
}

.character-screen-button:focus {
  -fx-background-color: #FF0000; 
}

.character-screen-button:pressed {
  -fx-background-color: #400000;
}

.character-screen-button.default-button {
  -fx-background-color: #800000; 
  -fx-text-fill: white;
  -fx-font-family: "Arial";
  -fx-font-size: 20px; 
  -fx-padding: 12px 24px;
}



