.root {
  -fx-font-family: "Times New Roman";
}

.title-pane {
  -fx-spacing: 20px;
  -fx-alignment: center;
  -fx-padding: 40px;
}

.title-label {
  -fx-font-size: 72px;
  -fx-text-fill: #FFFF00; /* Ominous yellow color */
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(255,0,0,0.7), 10, 0.5, 0, 1);
}

.subtitle-label {
  -fx-font-size: 36px;
  -fx-text-fill: #FFFF00; /* Ominous yellow color */
  -fx-font-weight: bold;
  -fx-font-style: italic; /* Cursive text */
  -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.7), 10, 0.5, 0, 1);
}

.button { /* All buttons */
  -fx-background-color: rgba(255,0,0,0.85); /* Red, somewhat transparent */
  -fx-text-fill: white;
  -fx-font-size: 24px;
  -fx-padding: 10px 40px;
  -fx-border-width: 0; /* No border */
}

.button:hover {
  -fx-background-color: rgba(255,0,0,1); /* Darker red on hover */
}

.story-select {
  -fx-background-color: rgba(51,51,51,0.7);
  -fx-font-family: "Times New Roman";
  -fx-font-size: 24px;
  -fx-text-fill: #FAF0E6; /* Linen color for high contrast */
  -fx-padding: 10px;
  -fx-border-radius: 5px;
  -fx-border-color: #FAF0E6;
  -fx-border-width: 2px;
}

/* Style for ComboBox dropdown */
.story-select .list-view {
  -fx-background-color: rgba(51,51,51,0.85); /* Dark gray background */
}

/* Style for ComboBox items */
.story-select .list-view .list-cell {
  -fx-background-color: rgba(51,51,51,0.85);
  -fx-text-fill: #FAF0E6; /* Linen color for high contrast */
}

.story-select .cell {
  -fx-background-color: transparent;
  -fx-text-fill: #FAF0E6; /* Linen color for high contrast */
}

.file-path-label, .broken-links-label {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-alignment: center;
}

.file-path-label {
  -fx-text-fill: linen;
}

.broken-links-label {
  -fx-text-fill: #FF0000;
  -fx-effect: dropshadow(three-pass-box, rgba(255,0,0,0.7), 10, 0.5, 0, 1);
}

.info-box {
  -fx-spacing: 10px;
  -fx-alignment: center;
}

.broken-links-box {
  -fx-spacing: 10px;
  -fx-alignment: center;
}
